<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head> 
  <body>
    <h1>Tienda de comics</h1>
    {% for comic in comics %}
    <div>
      <h2>{{ comic.title }}</h2>
      <img src="{{ comic.image.url }}" alt="{{ comic.title }}">
      <p>{{ comic.description }}</p>
      <a href="{% url 'send_message' comic.id %}">Send Message</a>
    </div>
    {% endfor %}
  </body>
</html>    
