<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head> 
  <body>
    <h1>Tienda de comics</h1>
    {% for comic in comics %}
    <div>
      <h2><a href="{% url 'comic_detail' comic.id %}">{{ comic.title }}</a></h2>
      <img src="{{ comic.image.url }}" alt="{{ comic.title }}">
      <p>{{ comic.description }}</p>
      <a href="{% url 'send_message' comic.id %}">Send Message</a>
      <form action="{% url 'add_to_wishlist' comic.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Agregar a la Lista de Deseos</button>
      </form>
    </div>
    
    {% endfor %}
    {% if user.is_authenticated %}
    <a href="{% url 'wishlist' %}" class="btn btn-secondary">Lista de Deseos</a>
    {% endif %}
    {% if user.is_authenticated and user.is_seller %}
    <a href="{% url 'register_comic' %}" class="btn btn-primary">Agregar Cómic</a>
    {% endif %}
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Logout</button>
</form>

  </body>
</html>    
